<div class='ProductDiv'>
  <img src='https://www.mcdelivery.com.ph/uploads/images/BurgerMcdo2017-435x320-V1.png' style='height: 100px'>
  <h1>BURGER ROAN</h1>
  <p>Description: Burger with one (1) Burger Patty</p>
  <h2>PHP 35.00</h2>
  <button class='btn btn-danger' style='margin: 10px' (click)='deleteItem("BurgerRoan")'>LESS</button>
  <button class='btn btn-success' (click)='addItem("BurgerRoan")'>MORE</button>
</div>

<div class='ProductDiv'>
  <img src='https://www.mcdelivery.com.ph/uploads/images/CheeseburgerAla435X320-V1.png' style='height: 100px'>
  <h1>CHEESE BURGER</h1>
  <p>Description: Burger with one (1) Burger Patty, Cheese,and Pickles</p>
  <h2>PHP 57.00</h2>
  <button class='btn btn-danger' style='margin: 10px' (click)='deleteItem("CheeseBurger")'>LESS</button>
  <button class='btn btn-success' (click)='addItem("CheeseBurger")'>MORE</button>
</div>

<div class='ProductDiv'>
  <img src='https://www.mcdelivery.com.ph/uploads/images/BigMacALA435X320-min.png' style='height: 100px'>
  <h1>BIG MAC</h1>
  <p>Description: Burger with two (2) burger patties, one (1) cheese, lettuce, and pickles</p>
  <h2>PHP 149.00</h2>
  <button class='btn btn-danger' style='margin: 10px' (click)='deleteItem("BigMac")'>LESS</button>
  <button class='btn btn-success' (click)='addItem("BigMac")'>MORE</button>
</div>

<div class='ProductDiv'>
  <img src='https://www.mcdelivery.com.ph/uploads/images/CheeseburgerDeluxeAla435X320-V1.png' style='height: 100px'>
  <h1>CHEESEBURGER DELUXE</h1>
  <p>Description: Burger with one (1) burget patty, one (1) cheese, lettuce, and tomato</p>
  <h2>Price: 93.00</h2>
  <button class='btn btn-danger' style='margin: 10px' (click)='deleteItem("CheeseBurgerDeLuxe")'>LESS</button>
  <button class='btn btn-success' (click)='addItem("CheeseBurgerDeLuxe")'>MORE</button>
</div>

<div class='ProductDiv'>
  <img src='https://www.mcdelivery.com.ph/uploads/images/BurgerCheesy435X320-V1.png' style='height: 100px'>
  <h1>CHEESY BURGER ROAN</h1>
  <p>Description: Burger with one (1) burger patty, and one (1) cheese</p>
  <h2>PHP 47.00</h2>
  <button class='btn btn-danger' style='margin: 10px' (click)='deleteItem("CheesyBurgerRoan")'>LESS</button>
  <button class='btn btn-success' (click)='addItem("CheesyBurgerRoan")'>MORE</button>
</div>

<div class='ProductDiv'>
  <img src='https://www.mcdelivery.com.ph/uploads/images/DoubleCheeseburgerala435X320-min.png' style='height: 100px'>
  <h1>DOUBLE CHEESEBURGER</h1>
  <p>Description: Burger with two (2) burger patties, two (2) cheese, and pickles</p>
  <h2>PHP 116.00</h2>
  <button class='btn btn-danger' style='margin: 10px' (click)='deleteItem("DoubleCheeseBurger")'>LESS</button>
  <button class='btn btn-success' (click)='addItem("DoubleCheeseBurger")'>MORE</button>
</div>

<div class='ProductDiv'>
  <img src='https://www.mcdelivery.com.ph/uploads/images/filletOfish435X320-V1.png' style='height: 100px'>
  <h1>FILLET-O-FISH</h1>
  <p>Description: Burger with one (1) fish-fllet, and one (1) cheese</p>
  <h2>PHP 120.00</h2>
  <button class='btn btn-danger' style='margin: 10px' (click)='deleteItem("FilletOFish")'>LESS</button>
  <button class='btn btn-success' (click)='addItem("FilletOFish")'>MORE</button>
</div>

<div class='ProductDiv'>
  <img src='https://www.mcdelivery.com.ph/uploads/images/McChickenSandwichALA435X320-V1.png' style='height: 100px'>
  <h1>MCCHICKEN</h1>
  <p>Description: Burger with one (1) chicken fillet, and lettuce</p>
  <h2>PHP 120.00</h2>
  <button class='btn btn-danger' style='margin: 10px' (click)='deleteItem("McChicken")'>LESS</button>
  <button class='btn btn-success' (click)='addItem("McChicken")'>MORE</button>
</div>

<div class='ProductDiv'>
  <img src='https://www.mcdelivery.com.ph/uploads/images/QPCala435X320-V1.png' style='height: 100px'>
  <h1>QUARTER POUNDER WITH CHEESE</h1>
  <p>Description: Burger with one (1) large burger patty, two (2) cheese, pickles, and onions</p>
  <h2>PHP 149.00</h2>
  <button class='btn btn-danger' style='margin: 10px' (click)='deleteItem("QuarterPounderWithCheese")'>LESS</button>
  <button class='btn btn-success' (click)='addItem("QuarterPounderWithCheese")'>MORE</button>
</div>

<div class='ProductDiv'>
  <img src='https://classified.expert/wp-content/uploads/2019/02/xBully-Boy-Burger-classified-expert.png.pagespeed.ic.YEl7oYIg9T.jpg' style='height: 100px'>
  <h1>BULLY BOY</h1>
  <p>Description: Burger with three (3) burger patties, tomatoes, onions, and lettuce</p>
  <h2>PHP 285.00</h2>
  <button class='btn btn-danger' style='margin: 10px' (click)='deleteItem("BullyBoy")'>LESS</button>
  <button class='btn btn-success' (click)='addItem("BullyBoy")'>MORE</button>
</div>